$themeColor:#e50914;
$secondaryColor: #e509149a;

.on-test{
  height: 100%;
  padding: 100px 0;
  box-sizing: border-box;
  overflow: hidden;
  .stepper{
    width: 100%;
    text-align: center;
    padding: 0;
    .step{
      display: inline-block;
      margin: 0 5px;
      .active{
        width: 20px; height: 20px; border-radius: 50%;
        color: white;
        background-color: $themeColor;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .inactive{
        width: 10px; height: 10px; border-radius: 50%;
        background-color: #aeaeae;
      }
    }
  }
  .question{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
  }
}

.option{
  width: 370px; margin: 30px auto;
  .option__button{
    width: 100%;
    height: 45px;
    border: 0;
    border-radius: 25px;
    color: white; 
    background-color: $themeColor;
    font-size: 18px;
    font-weight: bold;
    outline: none;
  }
  .option__button:active{
      font-size: 16px;
      background-color: $secondaryColor;
      outline: none;
  }
}