$themeColor:#e30914;


.app{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content{
  background-color: $themeColor;

  width: 320px;

  font-size: 50px;
}
@media all and (min-width:415px){

}